/* css 주석 */

/* css 파일 내부 == <style>태그 내부 == 이 파일 전체가 <style>태그내부임  */

/* 모든 선택자 == (*) */
* {
    /* color == 글자색상 지정 css 속성 */
    color: blue;
}

/* 태그 선택자 -> tag name 작성 */
p {
    color: hotpink;
}

pre {
    color: #b022d0;
}

/* 여러 선택자를 동시 작성하는 방법  */
p, pre {
    /*
    text-decoration -> 글자꾸미기
     underline -> 꾸미기 종류 밑줄
     */

    text-decoration: underline;
}

/* ID Title (#) == 아이디 선택자 */
#id-title {
    color: chocolate;
    /* font-style == 글꼴 스타일 변경 속성 */
    font-style: italic;
}

#test1 {
    text-decoration: none; /* 밑줄 없음 */
    font-weight: bold; /* 글꼴 굵기 조정 속성 (100~900) */
    color: rgba(61, 139, 129, 0.89);
    border: 3px solid darkslateblue; /* 테두리 지정 속성 */
    background-color: rgba(0, 255, 127, 0.51); /* 배경색 지정 속성 */
}

/* 클래스 선택자 (.) */
.class1 {
    background-color: black;
    color: yellow;
}

.class2 {
    background-color: yellow;
    color: black;
}


