/* 일반 구조 선택자 */

/*
 선택자 :first-child
- 형제 관계 요소 중 첫 번째 요소가 선택자와 일치하는가
*/

/* test1의 자식 중 첫번째 자식이 p 여야 한다*/
#test1 > p:first-child {
    background-color: red;
}

/* test1의 자식 중 마지막 자식이 pre 여야 한다*/
#test1 > pre:last-child {
    background-color: orange;
}


/* 선택자:nth-child(n)
  - test1의 자식 중 n번째 요소가 선택자와 맞는가
*/
#test1 > p:nth-child(3) {
    background-color: yellow;
}

/*
수열 형태로 지정 가능
    n = 0 부터 1씩 증가하는 정수
*/
#test1 > p:nth-child(2n) { /* 짝수 번째가 p인 경우*/
    font-style: italic;
    font-weight: bold;
}

#test1 > p:nth-child(2n+1) { /* 홀수 번째가 p인 경우*/
    font-size: 28px;
}

/* 형태 구조 선택자 */

/*
선택자: first-of-type
    -> 선택된 요소들 중 첫 번째 요소만 선택
  */
#test2 > p:first-of-type {
    background-color: green;
}

#test2 > p:last-of-type {
    background-color: #b022d0;
}

/* 선택자:nth-of-type(n)
  -> 선택된 형제관계 요소들 중 n번째 요소만 선택
*/
#test2 > p:nth-of-type(3) {
    background-color: blue;
}

#test2 > p:nth-of-type(4) {
    background-color: darkblue;
}

/* 부정 선택자 (:not) */
/*#test3 > li:nth-child(3n) {
    background-color: pink;
}*/

#test3 > li:not(:nth-child(3n)) {
    background-color: yellow;
}

/*
!* 문자 선택자 *!
#test4 > p:first-letter { !* 첫 글자 *!
    font-size: 2em; !* 2배 *!
    font-weight: bold;
}

#test > p:first-line {
    background-color: #b022d0;
}*/

/* 문자 선택자 */
#test4 > p:first-letter { /* 첫 글자 */
    font-size: 2em; /* 2배 */
    font-weight: bold;
}

#test4 > p:first-line { /* 첫 번째 줄 */
    background-color: coral;
}

/* :before / :after 가상 선택자
 를 이용해서 css로 html에 내용 추가
*/
#test4 > p:before {
    content: "㉾";
    font-size: 30px;
}

#test4 > p:after {
    content: "뿅☆";
}

/* ::selection(드래그) -> 드래그로 블럭친 상태 */
#test4 > p::selection {
    background-color: rgba(237, 164, 255, 0.19);
}

/* 증가하는 숫자 지정 */
#test4 > p {
    /* count == 변수명 */
    counter-increment: count 1;
}

#test4 > p:before {
    content: counter(count);
}

