/* 선택자 우선순위 */

/* 1순위 : !important */
.test2 {
    background-color: chocolate;
}

.test2 {
    background-color: chocolate;
!important; /* !important하면 1순위 */
}

/* 3순위 : 아이디 선택자 */
#test2 {
    background-color: #732673;
}

.test2 {
    background-color: skyblue;
    width: 200px;
    height: 200px;
}

/* 4순위 : 클래스 선택자 */
.test1 {
    background-color: yellow;
    color: red;
}

/* 4순위 : 클래스 선택자 */
div {
    background-color: yellow;
    color: red;
}

/* 5 순위 : 태그 선택자 */
div {
    width: 300px;
    height: 300px;
    background-color: #b022d0;
}