/* width(가로, 폯)/height(세로, 높이) */
.size-test {
    border: 2px solid red;
}

#test1 {
    /*w800*/
    width: 800px;
    /*h200*/
    height: 200px;
}

#test2 {
    width: 80%;
    height: 200px;
}

.block {
    width: 150px;
    height: 130px;
    border: 1px solid black;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.area1 {
    background: red;
}

.area2 {
    background: orange;
}

.area3 {
    background: yellow;
}

.area4 {
    background: green;
}

.area5 {
    background: blue;
}

/* inline 테스트 */
.block-test1 {
    display: inline;
    /*
    inline
    - 가로 배치
    - width와 height 적용 X
    - padding, margin은 적용 된다
    */
}

/* inline-block 테스트 */
.block-test2 {
    display: inline-block;
    margin-left: -5px; /* 요소 사이에 공백을 커버하기 위해 사용 */
}

/* block 테스트 */
.block-test3 {
    display: block;
}

/* display:none & visibility: hidden */
/*.block-test5 + + + + +*/
body > span.block.block-test3.area5 {
    /*visibility: hidden;*/ /* 눈에느 안보이지만 공간은 차지하고있음 */

    /* 화면에 표시를 안한다 */
    display: none; /* 눈에도 안보익도 공간도 차지 않함*/
}