.item {
    background: rgba(255, 0, 0, 0.64);
    color: white;
    padding: 10px;
    margin: 0px;
}

.container {
    display: grid;

    /* 그리드 컬럼 구분 및 너비 지정 */
    grid-template-columns: 200px 200px 200px 200px; /* 화면에따라 늘릴지 줄일지 고려 */
    grid-template-columns: repeat(4, 200px); /* 함수 이용 */
    grid-template-columns: 100px auto 200px;

    /*
    fr == fractional unit == 유분수 단위
    -> 그리드 공간을 일정 비율로 나눌 때 사용
    */
    grid-template-columns: 1fr 1fr 1fr;


    /* gap : 간격 */
    row-gap: 0px; /* margin지우고 0으로 해두면 딱붙음*/
    column-gap: 0px;
    gap: 30px; /* 행/열 간격 모두 30px 떨어짐*/

    /* 그리드 행 너비 지정 */
    grid-template-rows: 200px 200px 200px;
    grid-template-rows: repeat(5, 200px);

    /* 그리드 모든 행 너비 자동 지정 */
    grid-auto-rows: 100px;
}


.item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3; /* start/end*/
}


.item:nth-child(3) {
    /* 열 병합 */
    grid-column: 1/4; /* start/end*/
    background: #ffa500;
}

.item:nth-child(4) {
    /* 행 병합 */
    grid-row: 3/5; /* start/end*/
    background: #ffff51;
}

.item:nth-child(5) {
    /* 열과행 병합 */
    grid-column: 2/4;
    grid-row: 3/5; /* start/end*/
    background: rgba(24, 129, 45, 0.75);
}


/* grid-template-area */
.container-2 {
    display: grid;

    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 200px 200px;

    /* 그리드 모양을 별칭을 이용해 지정 */
    grid-template-areas:
    "header header header" /*"" 1개당 1행 , 3를 묶아사 header이라 하겠다 */
    "sidebar content content"
    "sidebar content content"
    "footer footer footer"
}


.header {
    background: #006aff;
    grid-area: header;
}

.sidebar {
    background: #273a8c;
    grid-area: sidebar;
}

.content {
    background: #b022d0;
    grid-area: content;
}

.footer {
    background: violet;
    grid-area: footer;
}

