img {
    width: 250px;
    height: 200px;
}

.trans1:hover {
    transform: perspective(300px) translate3d(0px, 0px, 100px);
}

.trans2:hover {
    /* 제자리에서 확해 효과 */
    transform: perspective(300px) translateZ(100px);
}

.trans3:hover {
    /* 제자리에서 확해 효과 */
    transform: perspective(3110px) rotateX(1110deg);
}

.trans4:hover {
    transform: perspective(300px) rotateY(300deg);
}

.trans5:hover {
    transform: perspective(300px) rotateZ(30deg);
}

/* 나중에 현호 코드 긴빠이 치기 */